# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# vscode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# msvc
.vs/
CMakeSettings.json
out/

# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
*~

# opensurge
build/
CMakeFiles/
logfile.txt
opensurge
opensurge.exe
surge.prefs
*.dll
!src/**
screenshots/*.png
iconwin.res