html {
    background: #353e73 url('surge.png') no-repeat right fixed;
    background-size: contain;
}
body {
    background: rgba(53, 62, 115, 0.9);
    min-height: calc(100vh - 32px);
    font-size: 16pt;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.85);
    letter-spacing: 1px;
}
a, a:visited, a:hover, a:active, a:focus { color: #ffee11; }
.cartoon {
    color: #fff;
    font-weight: bold;
    font-family: 'Luckiest Guy', sans-serif;
    text-shadow:
        -1px -1px 0 rgba(0,0,0,0.8),
        1px -1px 0 rgba(0,0,0,0.8),
        -1px 2px 0 rgba(0,0,0,0.8),
        1px 2px 0 rgba(0,0,0,0.8);
    letter-spacing: 3px;
}
.btn { border: 0; border-radius: 0; text-transform: uppercase; padding: 8px 24px; font-size: 20pt; font-weight: 900; }
.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary.active { background: #ff8800 !important; color: #fff !important; }
.btn-primary { box-shadow: 8px 8px 0px 1px #2b2b56 !important; }
.btn-primary:hover { background: #ffee11 !important; }
h2 { font-weight: bold; margin-top: 1.5em; margin-bottom: 0.75em; }
h2:before {
    margin-right: 0.2em;
    margin-bottom: -0.2em;
    display: inline-block;
    content: ' ';
    background-image: url('thunder.svg');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
}
@media(min-width:768px) { section p, section ul { margin-left: 1.9em; } }
footer { font-size: 14pt; background: #2c2c2c; text-shadow: 0 0 0 #000; margin-top: 2em; }
img.os-logo { max-width: 128px; margin: 32px 0 16px 0; }
.lang { display: none; }
.lang.en_US { display: inline-block; }